#!/bin/sh

echo "### Running: run_once_before_00_install-packages.sh"

mkdir -p ~/bin

{{ if eq .chezmoi.os "darwin" }}
echo "Running on Mac."
{{   include "install-packages.sh_mac" }}

{{ else if or (eq .chezmoi.osRelease.id "ubuntu") (eq .chezmoi.osRelease.id "debian") }}
echo "Running on Ubuntu/Debian."
{{   include "install-packages.sh_ubuntu" }}

{{ else }}
echo "Unknown OS: {{.chezmoi.os}}. No packages to install."
{{ end }}
