#!/bin/sh

mkdir -p ~/bin

{{ if eq .chezmoi.os "darwin" }}
echo "Running on Mac."
{{   include "install-packages.sh_mac" }}

{{ else if eq .chezmoi.osRelease.id "ubuntu" }}
echo "Running on Ubuntu."
{{   include "install-packages.sh_ubuntu" }}
{{   include "install-packages.sh_cuda" }}

{{ else if eq .chezmoi.osRelease.id "debian" }}
echo "Running on Debian."
{{   include "install-packages.sh_ubuntu" }}
{{   include "install-packages.sh_cuda" }}

{{ else }}
echo "Unknown OS: {{.chezmoi.os}}. No packages to install."
{{ end }}
