{{- if eq .chezmoi.os "darwin" -}}
#!/bin/sh

echo "Running on Mac. No packages to install."
{{ else if eq .chezmoi.osRelease.id "ubuntu" -}}
{{   include "install-packages.sh_ubuntu" -}}
{{   include "install-packages.sh_cuda" -}}
{{- else -}}
#!/bin/sh

echo "Unknown OS: {{.chezmoi.os}}. No packages to install."
{{- end -}}
